@import url("./common.scss");

.option-wrapper {
  width: 145px;
  height: 230px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #f6f6f7;
  margin-right: 35px;

  &:hover {
    cursor: pointer;
  }

  .top-option-container {
    height: 60%;
    background-color: #fff;
    border-radius: inherit;
  }

  .bottom-option-container {
    height: 40%;
    font-size: 18px;
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {
    width: 45%;
    height: 128px;
    margin-bottom: 20px;
    margin-right: 0;
    max-width: 200px;
  }
}
